<%if(errors != ""){%> <%errors.forEach(err=>{%>
<script>
    openLoginModal();
</script>
<div class="alert alert-danger"><%- err%></div>

<%})%> <%}%> <%if(success != ""){%> <%success.forEach(success=>{%>
<script>
    openLoginModal();
</script>
<div class="alert alert-success"><%- success%></div>

<%})%> <%}%>
